{%extends 'basis.html'%}

{% block content %}
<hr id="hLine">

<h1 id="aboutTitle">ِAbout Us:</h1>
<div id="aboutPage" style="margin-left:30%;">
<p> We are Al-Quds High School, we established in jerusalem at 1990, <br>we have class from 1st to 12th, we have alot of rwards like:
<ol id="orderList">
    <li>Best Education</li>
    <li>Best scientific invention</li>
    <li>Best science club</li>
    <li>Best Dabekha Team</li>
</ol>
we allocated at Damascus Gate in Jerusalem, our school have a big rooms with powerful technologies,<br> and we have swimming class, also we have music class
</p>
    </div>
{% endblock content %}