<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <footer id="footerPart">
     {% load static %}
		<img src="{% static 'images/logo.png' %}" alt="Logo Image" width="120" height="120" class="aligning">
		<div id="footerInfo" class="aligning">
			<p><span class="FontSize">Address:</span><br>Main street/ Damascus Gate<br>Jerusalem<br>Palestine<br><br><span class="FontSize">Mail Address:</span><br>Al-Quds@yahoo.com
				<br><br>Copyrigth
				&copy; 2021 Al-Quds High School
			</p>
		</div>
        <div class="aligning">
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
	</footer>
</body>
</html>