{%extends 'basis.html'%}

{% block content %}
<hr id="hLine">
<h1 style="text-align:center;">Add/Update Grade</h1>
<form action="{% url 'gradeForm' %}" method="post">{% csrf_token %}
    <div style="padding:10% 30%">
<label>Grade Name:</label>
    <br>
    <br>
    <input type="text" name="GradeName" PLACEHOLDER="Enter Grade Name">
    <br>
    <br>
    <input type="submit" name="AddGrade"  value="Add">
        <br><br>
            <input type="submit" name="UpdateGrade"  value="Update">

        </div>
</form>
{% endblock content %}